/* Reset RTL Fixes */

/* Banner Section */
.banner-thumb {
            right: auto !important;
            left: -80px !important;
        }
/* social icons problem */
.social-list__item {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
.social-list__item:last-child {
    margin-left: 0 !important;
}

/* FAQ Section */
.faq-item__title {
    padding-left: 30px;
    padding-right: 0;
}
.faq-item__title::before {
    right: auto !important;
    left: 0 !important;
}

/* Fix FAQ Column Padding Flip */
div[class*="col"]:nth-child(even) > .faq-item {
    padding-left: 10px !important; /* Reset LTR padding */
    padding-right: 25px !important; /* Apply RTL padding */
}

/* Testimonial Section - Fix Text Sticking to Image */
.testimonial-item__thumb {
    margin-right: 0 !important;
    margin-left: 15px !important; /* Add space to the left of image in RTL */
}


.enamad-wrapper {
    min-height: 100px; /* تنظیم ارتفاع مناسب */
    padding: 10px 0;
}

.enamad-wrapper img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}